@page
@model SimpleChat.Pages.Account.SignUpModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Регистрация</title>
</head>
<body>

</body>
</html>
