<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  
  <variable name="detailedLayout" 
            value="${date:format=dd.MM.yyyy HH\:mm\:ss}|${level:uppercase=true}: ${message}. ${exception:format=ToString}" />
  <variable name="logsDirectory"
            value=""/>
  <variable name="logsFileName"
            value="${level}/${date:format=yyyy-MM-dd}.txt" />
  
  <targets>      
    <target name="fullLog"
            xsi:type="File" 
            layout="${detailedLayout}"
            fileName="${logsDirectory}/${logsFileName}"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Trace" maxLevel="Trace" writeTo="fullLog" />
    <logger name="*" minlevel="Info" maxLevel="Info" writeTo="fullLog" />
    <logger name="*" minlevel="Warn" maxLevel="Warn" writeTo="fullLog" />
    <logger name="*" minlevel="Error" maxLevel="Error" writeTo="fullLog" />
    <logger name="*" minlevel="Fatal" maxLevel="Fatal" writeTo="fullLog" />
  </rules>
</nlog>